.footer__navigation {
    display: grid;
    grid-template-columns: repeat(5) min-content;
    grid-auto-flow: column;
    column-gap: 18px;
}

@media screen and (max-width: 767px) {
    .footer__navigation {
        grid-auto-flow: row;
        row-gap: 32px;
    }
}
