.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin: 0 auto 32px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 54px;
        line-height: 1.09;
        margin: 0 auto 16px;
    }
}

@media screen and (max-width: 539px) {
    .cover__title {
        font-size: 38px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
    }
}