.content__section-lead {
    padding: 0 148px 92px;
}

@media screen and (max-width: 1279px) {
    .content__section-lead {
        padding: 0 48px 92px;
    }
}

@media screen and (max-width: 1023px) {
    .content__section-lead {
        padding: 0 0 92px;
    }
}

@media screen and (max-width: 320px) {
    .content__section-lead {
        padding: 0 0 64px;
    }
}