.root__section-header {
    padding: 28px 48px 0;
}

@media screen and (max-width: 1023px) {
    .root__section-header {
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 539px) {
    .root__section-header {
        padding: 16px 16px 0;
    }
}